<div>
  <app-add-dokument *ngIf="addDokumentVisible" (newDokumentAdded)="save($event)"></app-add-dokument>
  
  <table name="dokumentTable" class="table table-dark">
    <tr>
      <th>
        Dokumenti
      </th>
      <th>
        <button class="btn" (click)="showAddDokument()">Dodaj</button>
      </th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Naziv</th>
      <th>Ucenik</th>
      <th>Akcija</th>
    </tr>
    <tr app-dokument-item *ngFor="let dokument of _dokumenti; let i = index" [dokument]="dokument" [index]="i" (deleteDokumentIndex)="delete($event)" (editDokumentIndex)="setDokument($event)"></tr>
  </table>
  <app-edit-dokument (editDokument)="setDokument($event)" (editDokumentSaved)="saveEdit($event)"></app-edit-dokument>
</div>
