<div>
  <app-add-predmet *ngIf="addPredmetVisible" (newPredmetAdded)="save($event)"></app-add-predmet>
  <table name="predmetTable" class="table table-dark">
    <tr>
      <th>
        Predmeti
      </th>
      <th>
        <button class="btn" (click)="showAddPredmet()">Dodaj</button>
      </th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Naziv</th>
      <th>Akcija</th>
    </tr>
    <tr app-predmet-item *ngFor="let predmet of _predmeti; let i = index" [predmet]="predmet" [index]="i" (deletePredmetIndex)="delete($event)" (editPredmetIndex)="setPredmet($event)">
      
    </tr>
  </table>
  <app-edit-predmet (editPredmet)="setPredmet($event)" (editPredmetSaved)="saveEdit($event)"></app-edit-predmet>
</div>