<div>
  <app-add-ucenik *ngIf="addUcenikVisible" (newUcenikAdded)="save($event)"></app-add-ucenik>
  <table name="ucenikTable" class="table table-dark">
    <tr>
      <th>
        Ucenici
      </th>
      <th>
        <button class="btn" (click)="showAddUcenik()">Dodaj</button>
      </th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Broj indeksa</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Akcija</th>
    </tr>
    <tr app-ucenik-item *ngFor="let ucenik of ucenici; let i = index" [ucenik]="ucenik" [index]="i" (deleteUcenikIndex)="delete($event)" (editUcenikIndex)="setUcenik($event)">
      
    </tr>
  </table>
  <app-edit-ucenik (editUcenik)="setUcenik($event)" (editUcenikSaved)="saveEdit($event)"></app-edit-ucenik>
</div>