<div>
  <form class="form-horizontal" (ngSubmit)="saveUcenik()">
    <input type="hidden" name="ucenikId" id="ucenikId" [(ngModel)]="editUcenik.id" />
    <div class="form-group">
      <label class="control-label col-sm-1" for="input-brojIndeksa">Broj indeksa: </label>
      <div class="col-sm-11">
        <input class="form-control" name="input-brojIndeksa" id="input-brojIndeksa" [(ngModel)]="editUcenik.brojIndeksa" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1" for="input-ime">Ime: </label>
      <div class="col-sm-11">
        <input class="form-control" name="input-ime" id="input-ime" [(ngModel)]="editUcenik.ime" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1" for="input-prezime">Prezime: </label>
      <div class="col-sm-11">
        <input class="form-control" name="input-prezime" id="input-prezime" [(ngModel)]="editUcenik.prezime" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1" for="input-JMBG">JMBG: </label>
      <div class="col-sm-11">
        <input class="form-control" name="input-JMBG" id="input-JMBG" [(ngModel)]="editUcenik.jmbg" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1" for="input-email">Email: </label>
      <div class="col-sm-11">
        <input class="form-control" name="input-email" id="input-email" [(ngModel)]="editUcenik.email" />
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-1" for="input-telefon">Telefon: </label>
      <div class="col-sm-11">
        <input class="form-control" name="input-telefon" id="input-telefon" [(ngModel)]="editUcenik.telefon" />
      </div>
    </div>

    <div class="form-group">
      <input class="btn btn-primary" type="submit" value="Save" />
    </div>
  </form>
</div>