<div class="container">
  <ul class="list-group">
    <li class="list-group-item" id="uceniciLink">
      <a routerLink="/ucenici" routerLinkActive="active">Ucenici</a>
    </li>
    <li class="list-group-item" id="nastavniciLink">
      <a routerLink="/nastavnici" routerLinkActive="active">Nastavnici</a>
    </li>
    <li class="list-group-item" id="predmetiLink">
      <a routerLink="/predmeti" routerLinkActive="active">Predmeti</a>
    </li>
    <li class="list-group-item" id="polaganjaLink">
      <a routerLink="/polaganja" routerLinkActive="active">Polaganja</a>
    </li>
    <li class="list-group-item" id="pohadjanjaLink">
      <a routerLink="/pohadjanja" routerLinkActive="active">Pohadjanja</a>
    </li>
    <li class="list-group-item" id="dokumentiLink">
      <a routerLink="/dokumenti" routerLinkActive="active">Dokumenti</a>
    </li>
    <li class="list-group-item" id="predavanjaLink">
      <a routerLink="/predavanja" routerLinkActive="active">Predavanja</a>
    </li>
    <li class="list-group-item" id="uplateLink">
      <a routerLink="/uplate" routerLinkActive="active">Uplate</a>
    </li>
  </ul>
</div>