<div class="container">
  <a routerLink="/ucenici" routerLinkActive="active">Ucenici</a><br/>
  <a routerLink="/nastavnici" routerLinkActive="active">Nastavnici</a><br/>
  <a routerLink="/predmeti" routerLinkActive="active">Predmeti</a><br/>
  <a routerLink="/polaganja" routerLinkActive="active">Polaganja</a><br/>
  <a routerLink="/dokumenti" routerLinkActive="active">Dokumenti</a><br/>
  <a routerLink="/predavanja" routerLinkActive="active">Predavanja</a><br/>
  <a routerLink="/uplate" routerLinkActive="active">Uplate</a><br/>
</div>