<div>
	<form class="form-horizontal" (ngSubmit)="addPredmet()">
		<div class="form-group">
			<label class="control-label col-sm-1" for="input-naziv">Naziv: </label>
			<div class="col-sm-11">
				<input class="form-control" name="input-naziv" id="input-naziv" [(ngModel)]="newPredmet.naziv" />
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-1" for="input-polaganje">Polaganja: </label>
			<div class="col-sm-11">
				<select class="form-control" name="input-polaganje" id="input-polaganje" [(ngModel)]="newPredmet.polaganje">
					<option *ngFor="let p of polaganja" [ngValue]="p.id">{{p.ucenik.ime + " " + p.predmet.naziv}}</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-sm-1" for="input-predavanje">Predavanja: </label>
			<div class="col-sm-11">
				<select class="form-control" name="input-predavanje" id="input-predavanje" [(ngModel)]="newPredmet.predavanje">
					<option *ngFor="let pr of predavanja" [ngValue]="pr.id">{{pr.nastavnik.ime + " " + p.predmet.naziv}}</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<input class="btn btn-primary" type="submit" value="Save" />
		</div>
	</form>
</div>