<div>
  <app-add-predavanje *ngIf="addPolaganjeVisible" (newPolaganjeAdded)="save($event)"></app-add-predavanje>
  <table name="predavanjeTable" class="table table-dark">
    <tr>
      <th>
        Predavanja
      </th>
      <th>
        <button class="btn" (click)="showAddPredavanje()">Dodaj</button>
      </th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Ucenik</th>
      <th>Predmet</th>
    </tr>
    <tr app-predavanje-item *ngFor="let predavanje of _predavanje; let i = index" [predavanje]="predavanje" [index]="i" (deletePredavanjeIndex)="delete($event)" (editPredavanjeIndex)="setPredavanje($event)"></tr>
  </table>
  <app-edit-predavanje (editPolaganje)="setPredavanje($event)" (editPredavanjeSaved)="saveEdit($event)"></app-edit-predavanje>
</div>